 /* 外部樣式 */
        h1 {
            color: red;
        }

        p,
        div {
            color: blue;

        /* } */

        p {
            background-color: lightyellow;
            font-size: 18px;
        }

        div {
            background-color: lightgray;
            font-size: 20px;
        }